@import url('http://fonts.cdnfonts.com/css/saiyan-sans');
#__next{
  background: #e58f8f
}
.letras-nav{
  font-family: 'Saiyan Sans - Right Oblique', sans-serif;
  font-size: 35px;
  color: #f4da00;
}
h1{
  font-family: 'Saiyan Sans - Right Oblique', sans-serif;
  font-size: 45px;
  color: #EC2324;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}
a{
  text-decoration: none;
}
.video-open1{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open1.png) center center /contain no-repeat ;
}
.video-open2{
  width: 400px;
  height: 500px;
  background: url(../public/assets/ending1.png) center center /contain no-repeat ;
}
.video-ending2-2{
  width: 500px;
  height: 500px;
  background: url(../public/assets/2ending2.jpg) center center /contain no-repeat ;
}
.video-ending1-2{
  width: 500px;
  height: 500px;
  background: url(../public/assets/2ending1.png) center center /contain no-repeat ;
}
.video-open1-2{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open1-2.png) center center /contain no-repeat ;
}
.video-open2-2{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open2-2.png) center center /contain no-repeat ;
}
.video-ending1-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending1.png) center center /contain no-repeat ;
}
.video-ending2-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending2.png) center center /contain no-repeat ;
}
.video-ending3-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending3.png) center center /contain no-repeat ;
}
.video-ending4-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending4.png) center center /contain no-repeat ;
}
.video-ending5-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending5.png) center center /contain no-repeat ;
}
.video-ending6-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending6.png) center center /contain no-repeat ;
}
.video-ending7-3{
  width: 500px;
  height: 500px;
  background: url(../public/assets/3ending7.png) center center /contain no-repeat ;
}
.video-open1-5{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open1-5.png) center center /contain no-repeat ;
}
.video-ending1-5{
  width: 500px;
  height: 500px;
  background: url(../public/assets/5-saga.png) center center /contain no-repeat ;
  margin-bottom: 20px;
}
.video-ending1-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending1.png) center center /contain no-repeat ;
}
.video-ending2-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending2.png) center center /contain no-repeat ;
}
.video-ending3-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending3.png) center center /contain no-repeat ;
}
.video-ending4-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending4.png) center center /contain no-repeat ;
}
.video-open1-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open1-6.png) center center /contain no-repeat ;
}
.video-open1-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open1-4.png) center center /contain no-repeat ;
}
.video-open2-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/open2-4.png) center center /contain no-repeat ;
}
.video-ending1-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending1.png) center center /contain no-repeat ;
}
.video-ending2-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending2.png) center center /contain no-repeat ;
}
.video-ending3-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending3.png) center center /contain no-repeat ;
}
.video-ending4-6{
  width: 500px;
  height: 500px;
  background: url(../public/assets/6ending4.png) center center /contain no-repeat ;
}
.video-ending1-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending1.png) center center /contain no-repeat ;
}
.video-ending2-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending2.png) center center /contain no-repeat ;
}
.video-ending3-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending3.png) center center /contain no-repeat ;
}
.video-ending4-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending4.png) center center /contain no-repeat ;
}
.video-ending5-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending5.png) center center /contain no-repeat ;
}
.video-ending6-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending6.png) center center /contain no-repeat ;
}
.video-ending7-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending7.png) center center /contain no-repeat ;
}
.video-ending8-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending8.png) center center /contain no-repeat ;
}
.video-ending9-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending9.png) center center /contain no-repeat ;
}
.video-ending10-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending10.png) center center /contain no-repeat ;
}
.video-ending11-4{
  width: 500px;
  height: 500px;
  background: url(../public/assets/4ending11.png) center center /contain no-repeat ;
}
@media (max-width: 768px){
  .video-open1{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open1.png) center center /contain no-repeat ;
  }
  .video-open2{
    width: 300px;
    height: 300px;
    background: url(../public/assets/ending1.png) center center /contain no-repeat ;
  }
  .video-ending1-2{
    width: 300px;
    height: 300px;
    background: url(../public/assets/2ending1.png) center center /contain no-repeat ;
  }
  .video-ending2-2{
    width: 300px;
    height: 300px;
    background: url(../public/assets/2ending2.jpg) center center /contain no-repeat ;
  }
  .video-open1-2{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open1-2.png) center center /contain no-repeat ;
  }
  .video-open2-2{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open2-2.png) center center /contain no-repeat ;
  }
  .video-ending1-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending1.png) center center /contain no-repeat ;
  }
  .video-ending2-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending2.png) center center /contain no-repeat ;
  }
  .video-ending3-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending3.png) center center /contain no-repeat ;
  }
  .video-ending4-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending4.png) center center /contain no-repeat ;
  }
  .video-ending5-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending5.png) center center /contain no-repeat ;
  }
  .video-ending6-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending6.png) center center /contain no-repeat ;
  }
  .video-ending7-3{
    width: 300px;
    height: 300px;
    background: url(../public/assets/3ending7.png) center center /contain no-repeat ;
  }
  .video-open1-5{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open1-5.png) center center /contain no-repeat ;
  }
  .video-ending1-5{
    width: 300px;
    height: 300px;
    background: url(../public/assets/5-saga.png) center center /contain no-repeat ;
    margin-bottom: 20px;
  }
  .video-ending1-6{
    width: 300px;
    height: 300px;
    background: url(../public/assets/6ending1.png) center center /contain no-repeat ;
  }
  .video-ending2-6{
    width: 300px;
    height: 300px;
    background: url(../public/assets/6ending2.png) center center /contain no-repeat ;
  }
  .video-ending3-6{
    width: 300px;
    height: 300px;
    background: url(../public/assets/6ending3.png) center center /contain no-repeat ;
  }
  .video-ending4-6{
    width: 300px;
    height: 300px;
    background: url(../public/assets/6ending4.png) center center /contain no-repeat ;
  }
  .video-open1-6{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open1-6.png) center center /contain no-repeat ;
  }
  .video-open1-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open1-4.png) center center /contain no-repeat ;
  }
  .video-open2-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/open2-4.png) center center /contain no-repeat ;
  }
  .video-ending1-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending1.png) center center /contain no-repeat ;
  }
  .video-ending2-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending2.png) center center /contain no-repeat ;
  }
  .video-ending3-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending3.png) center center /contain no-repeat ;
  }
  .video-ending4-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending4.png) center center /contain no-repeat ;
  }
  .video-ending5-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending5.png) center center /contain no-repeat ;
  }
  .video-ending6-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending6.png) center center /contain no-repeat ;
  }
  .video-ending7-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending7.png) center center /contain no-repeat ;
  }
  .video-ending8-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending8.png) center center /contain no-repeat ;
  }
  .video-ending9-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending9.png) center center /contain no-repeat ;
  }
  .video-ending10-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending10.png) center center /contain no-repeat ;
  }
  .video-ending11-4{
    width: 300px;
    height: 300px;
    background: url(../public/assets/4ending11.png) center center /contain no-repeat ;
  }
}