@import url('http://fonts.cdnfonts.com/css/saiyan-sans');
#__next{
  background: #e58f8f
}
.letras-nav{
  font-family: 'Saiyan Sans - Right Oblique', sans-serif;
  font-size: 35px;
  color: #f4da00;
}
h1{
  font-family: 'Saiyan Sans - Right Oblique', sans-serif;
  font-size: 45px;
  color: #EC2324;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}